{
  "printWidth": 100,
  "semi": true,
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf"
}
