# This is a basic workflow to help you get started with Actions

name: Lint

# Controls when the action will run.
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install eslint and plugins
        run: npm i -D eslint eslint-plugin-vue @typescript-eslint/parser @typescript-eslint/eslint-plugin typescript

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          auto_fix: true
          github_token: ${{ secrets.github_token }}
          eslint: true
          eslint_args: src/**/*.{ts,vue} {tasks,config}/**/*.js  -c ./config/.eslintrc.js
          eslint_extensions: js,ts,vue


